<li class="sidebar-search text-center">
  <img src="https://images.unsplash.com/photo-1569124589354-615739ae007b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=300&h=200" alt="avatar" class="my_image">
  <h3>Maria</h3>
  <h3>Co-Founder</h3>
</li>