<li>
  <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> New<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/newmanagementbasis">Basis</a>
    </li>
    <li>
      <a href="/newmanagementadvance">Advance</a>
    </li>
  </ul>
</li>