<li>
  <a href="#"><i class="fa fa-barcode" aria-hidden="true"></i> Notification<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/notifications">View</a>
    </li>
    <li>
      <a href="/notificationsbasis">Basis</a>
    </li>
    <li>
      <a href="/notificationsadvance">Advance</a>
    </li>
  </ul>
</li>