<li>
  <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Statictis<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/homepagestatistic">Home page</a>
    </li>
    <li>
      <a href="/homeloginstatistic">User login home page</a>
    </li>
    <li>
      <a href="/homeregisterstatistic">User register home page</a>
    </li>
    <li>
      <a href="/productbestsell">Product best sell</a>
    </li>
    <li>
      <a href="/productpotential">Product potential</a>
    </li>
  </ul>
  <!-- /.nav-second-level -->
</li>