<li>
  <a href="#"><i class="fa fa-barcode" aria-hidden="true"></i> Product<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/productmanagementbasis">Basis</a>
    </li>
    <li>
      <a href="/productmanagementadvance">Advance</a>
    </li>
  </ul>
</li>