<li>
  <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Users management<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/usermanagement">Basis</a>
    </li>
    <li>
      <a href="/rolemanagement">Advance</a>
    </li>
  </ul>
</li>