<li>
  <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Customer management<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/customermanagementbasic">Basis</a>
    </li>
    <li>
      <a href="/customermanagementadvance">Advance</a>
    </li>
  </ul>
</li>