<li>
  <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Events<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/eventmanagementbasis">Basic</a>
    </li>
    <li>
      <a href="/eventmanagementadvance">Advance</a>
    </li>
  </ul>
</li>