<li>
  <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Statictis<span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li>
      <a href="/homepagestatistic">Home page</a>
    </li>
    <li>
      <a href="morris.html">Morris.js Charts</a>
    </li>
  </ul>
  <!-- /.nav-second-level -->
</li>