<div class="profile__container">
  <div class="profile__summary">
    <form action="" class="form">
      <div class="group">
        <input type="text" placeholder="Company (disabled)" disabled class="input-style input-company">
        <input type="text" placeholder="Date" disabled class="input-style input-date">
        <input type="text" placeholder="Position" disabled class="input-style input-position">
      </div>
      <div class="group">
        <input type="text" placeholder="First Name" class="input-style input-first-name">
        <input type="text" placeholder="Last Name" class="input-style input-last-name">
        <input type="text" placeholder="Full Name" class="input-style input-full-name">
      </div>
      <div class="group">
        <input type="date" placeholder="Birthday" class="input-style">
        <label for="sexs">sex:</label>
        <select id="sexs">
          <option value="null">Choose</option>
          <option value="male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <input type="text" placeholder="Credit card" class="input-style input-style-credit-card">
      </div>
      <div class="group">
        <input type="text" placeholder="Address" class="input-style">
        <input type="text" placeholder="Phone" class="input-style input-phone">
        <input type="text" placeholder="Moblie" class="input-style input-moblie">
      </div>
    </form>
  </div>
  <div class="profile__detail">
    <ul>
      <li class="sidebar-search text-center">
        <img src="https://images.unsplash.com/photo-1569124589354-615739ae007b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=300&h=200" alt="avatar" class="my_image my_image1">
        <h3>Maria</h3>
        <h3>Co-Founder</h3>
      </li>
    </ul>
  </div>
</div>