<div class="sidebar-nav navbar-collapse">
  <ul class="nav" id="side-menu">
    {{>describe_user}}
    {{>search}}
    {{>dashboard}}
    {{>management_statictis}}
    {{>management_user}}
    {{>management_customer}}
    {{>management_category}}
    {{>management_product}}
    {{>management_new}}
    {{>management_event}}
  </ul>
</div>